/* Import google font - Be Vietnam Pro */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  text-align: center;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #EEEEEE;
  position: relative;
}

main > div{
  padding-bottom: 2vh;
}

#scoreDisplay{
  position: absolute;
  top: 10vh;
  left: 50vw;
  color: black;
}

.timer-container{
  position: absolute;
  top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#bomb{
  width: 25vh;
}

#timer{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #EEEEEE;
  font-size: 4vh;
  font-weight: bold;
}

.word{
  display: flex;
  flex-direction: row;
  gap: 1vh;
  position: absolute;
  top: 50vh;
}

#myText{
  min-height: 5vh;
  max-width: 20vh;
  background-color: #EEEEEE;
  font-size: 5vh;
  font-weight: bold;  
  text-align: left;
}

#chain{
  width: 4vh;
}
.otherDisplay{
  color: #696969;
  padding-bottom: 2vh;
}