/* Import google font - Be Vietnam Pro */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  text-align: center;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #EEEEEE;
}

main > div{
  padding-bottom: 2vh;
}

.timer-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#bomb{
  width: 25vh;
}

#timer{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #EEEEEE;
  font-size: 4vh;
  font-weight: bold;
}

.word{
  display: flex;
  flex-direction: row;
  gap: 1vh;
}

#myText{
  min-height: 5vh;
  max-width: 20vh;
  background-color: #EEEEEE;
  font-size: 5vh;
  font-weight: bold;  
  text-align: left;
}

#chain{
  width: 4vh;
  box-shadow: 3vh 0vh 5vh 0vh rgba(141, 129, 129, 0.75);
  border-radius: 5vh;
  overflow: hidden;
}
/*Some update*/
#home{
  width: 4vh;
  height: 6vh;
  border-radius: 5vh;
  overflow: hidden;
}
#retry{
  width: 4vh;
  height: 6vh;
  border-radius: 5vh;
  overflow: hidden;
}
.otherDisplay{
  color: #181313;
  padding-bottom: 2vh;
}
button{
  width: 7vh;
  border-radius: 5vh;
  overflow: hidden;
}