/* Import google font - Be Vietnam Pro */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  text-align: center;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #EEEEEE;
  position: relative;
}

main > div{
  padding-bottom: 2vh;
}

#scoreDisplay{
  position: absolute;
  top: 10vh;
  left: 50vw;
  color: black;
}

.timer-container{
  position: absolute;
  top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#bomb{
  width: 25vh;
}

#timer{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #EEEEEE;
  font-size: 4vh;
  font-weight: bold;
}

.word{
  display: flex;
  flex-direction: row;
  gap: 1vh;
  position: absolute;
  top: 50vh;
}

#myText{
  min-height: 5vh;
  max-width: 20vh;
  background-color: #EEEEEE;
  font-size: 5vh;
  font-weight: bold;  
  text-align: left;
}

#chain{
  width: 4vh;
  cursor: pointer;
}

.other-container{
  position: absolute;
  top: 60vh;
  display: flex;
  flex-direction: column;
}
.otherDisplay{
  color: #696969;
  padding-top: 0vh;
}

.btn-container{
  position: absolute;
  bottom: 10vh;
  display: flex;
}

.btn-container button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #ffffff;
  margin: 0 1vw;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
}

.btn-container button::after{
  content: '';
  width: 100%;
  height: 100%;
  top: -90px;
  left: 0;
  background: black;
  border: none;
  position: absolute;
  transition: 0.5s;
}

.btn-container button:hover{
  transform: translateY(-10px);
}

.btn-container button:hover::after{
  top: 0;
}

.btn-container button .icon{
  width: 4vh;
  padding: auto;
  position: relative;
  z-index: 10;
  transition: fill 0.5s;
}

.btn-container button:hover .icon path{
  fill: #ffffff; /* gắn fill thẳng vào path của svg */
}

#errorDisplay{
  position: absolute;
  bottom: 25vh;
}
